<nav class="top-nav navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand top-nav-text" href="{% url 'home' %}">
            <img src="../../static/images/PRFX.png" alt="PFX-LOGO" width="100" height="80">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link top-nav-text" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link top-nav-text" href="{% url 'courses:course-list' %}">Programs</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link top-nav-text" href="#">About</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'users:profile' %}" class="nav-link top-nav-text">Profile</a>
              </li>

              <li class="nav-item">
                <form class="nav-link" action="{% url 'users:signout' %}" method="post">
                  {% csrf_token %}
                  <button class="bg-danger text-light" type="submit">Logout</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link top-nav-text" href='{% url "users:signup" %}'>Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link top-nav-text" href="{% url 'users:signin' %}">LogIn</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
</nav>