{% extends 'base.html' %}
<!-- {% load static %} -->


{% block title %} SignUp {% endblock %}

{% block content %}
<div class="container my-5 text-sm-center">
    <h2>Register</h2>
    <div class="my-2">
        <form action="" method="post">
            {% csrf_token %}
            <div class="container-md">
                {% for field in form %}
                <div class="form-label">
                    {{ field.label_tag }}
                </div>
                <div class="form-control">
                    {{ field }}
                </div>
                <div class="text-danger">
                    {{ field.errors }}
                </div>
                {% endfor %}
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
    <div>
        <p>Already Registered?<span class="px-2"><a href="{% url 'users:signin' %}">Sign In Here</a></span></p>
    </div>
</div>
{% endblock %}