{% extends "base.html" %} 

{% block title %} PFX {% endblock title %}

{% block content %}

<section id="profitTrader" class="bg-dark text-light mt-1 p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
           <div>
            <h1>Begin Your Journey To Become A Consistent<span class="ptd-text"> Profitable Financial Trader </span></h1>
            <p class="lead">Success in trading requires more than just market knowlegde-it demands discipline, strategy, and the right mindset.
                At our Academy, we provide the essential tools, expert guidance, and structured learning path to help you navigate the complexities 
                of the financial markets. Whether you're a complete beginner or looking to refine your trading skills, our comprehensive training will
                equip you with proven strategies, risk management techniques, and psychological insights to trade with confidence. Join us today and take 
                the first step toward financial independence through consistent and profitable trading.
            </p>
           </div>
           <div style="height: 450; width: 450;">
                <img class=" img-fluid d-none d-sm-block" src="../static/images/PFX.png" alt="">
           </div>
        </div>
    </div>
</section>

<section class="p-4">
    <div class="container bg-light">
        <div class="row text-center g-4">
            <div class="col-md">
              <div class="card bg-secondary text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-globe2"></i>
                  </div>
                  <h3 class="card-title mb-3">Global Community</h3>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Iure, quas quidem possimus dolorum esse eligendi?
                  </p>
                  <a href="#" class="btn btn-danger">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-laptop"></i>
                  </div>
                  <h3 class="card-title mb-3">Trading Education</h3>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Iure, quas quidem possimus dolorum esse eligendi?
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-secondary text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-person-square"></i>
                  </div>
                  <h3 class="card-title mb-3">Mentorship</h3>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Iure, quas quidem possimus dolorum esse eligendi?
                  </p>
                  <a href="#" class="btn btn-danger">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">Market Analysis</h3>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Iure, quas quidem possimus dolorum esse eligendi?
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-light">
    <div class="container">
        <h2>continuation</h2>
    </div>
</section>

{% endblock %}